*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

/* Divs gerais */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear{
    clear: both;
}
/*********/

header{
    background-color: #D6D6D6;
    padding: 10px 2% 30px 2%;
}

.logo1{
    float: left;
    width: 150px;
    height: 60px;
    background-image: url(../imagens/logo1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: purple;*/
}

.logo2{
    float: right;
    width: 160px;
    height: 60px;
    background-image: url(../imagens/logo2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: green;*/
}

section.cover-form{
    width: 100%;
    padding: 0 2%;
}

.container-bg{
    background-image: url(../imagens/bg-form.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.container-form{
    float: right;
    margin-right: 40px;
    width: 400px;
    height: 110%;
    position: relative;
    top: -5%;
    background-color: white;
}

.container-form h2{
    font-weight: normal;
    padding: 20px 15px;
    color: black;
    font-size: 18px;
    background-color: rgba(234, 236, 237, 0.7);
}

.container-form form{
    margin-top: 8px;
    padding: 15px;
}

.container-form form p{
    font-size: 13px;
    color: #525252;
}

.form-wraper:not(:first-child){
    margin-top: 40px;
}

.form-wraper:last-child{
    margin-top: 20px;
}

.container-form form input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.container-form form input[type=submit]{
    background-color: #033c50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 25px;
    height: 50px;
    cursor: pointer;
    border: 0;
}

@media screen and (max-width: 510px){
    header{
        text-align: center;
    }

    .logo1, .logo2{
        margin-top: 10px;
        display: inline-block;
        float: none;
    }
}


